<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Available Rooms</title>
</head>
<body class="bg-[#111827]">
    
   <center> <main class="items-center p-10  rounded-lg h-[100vh] flex flex-col justify-center"> <div class="border-gray-300 border rounded-lg p-[3vw]">

    <form method="post" action="/checkAvailability" class="lg:w-[40vw] md:w-[50vw] w-[70vw]">
        <div class="grid md:grid-cols-2 grid-cols-1 gap-4">  
            <div class="mb-5">
               <label for="checkin" class="block mb-2 text-sm font-medium text-white dark:text-white">Check In Date</label>
               <input type="date" name="checkInDate" id="checkin" class="bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required />
           </div>
   
           <div class="mb-5">
               <label for="checkout" class="block mb-2 text-sm font-medium text-white dark:text-white">Check Out Date</label>
               <input type="date" name="checkOutDate" id="checkout" class="bg-gray-50 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required />
           </div>
       </div>
           <button class="lg:w-[40vw] md:w-[50vw] w-[70vw] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm  px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Check</button>
       </form>
       
       <div class="my-5">
        <% if(availableRooms > 0){ %>
           <span>Available Rooms:</span> <%=availableRooms%> <br> <br>
           <a href="/booking" class="lg:w-[40vw] md:w-[50vw] w-[70vw] text-white bg-yellow-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Continue to booking</a>
        <% } else if(availableRooms == 0 || availableRooms == "") {%>
            <p class="text-[#cc3300]">No rooms available.</p>
        <% } else {  %>
            <p></p>
        <% } %>
            
       </div>

   </div></main></center>
    

</body>
</html>